@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');


/* -------------------Reset-----------------------------*/

*{
    margin: 0;
    padding: 0;    
}
body{
    background-color: black;
}

/* ------------------------nav------------------------------- */
header{
    position: sticky;
    top: 0px;
}

.nav{
    display: flex;
}
.nav::before{
    content: "";   
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    box-shadow: 0px .5px 25px #f2690d51;
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav ul li{
    list-style: none;
    display: inline;

    
}
.nav ul li a{
    text-decoration: none;
    padding: 5px 35px;
    margin: 5px 35px;
    border-radius: 25px;
    background-color: rgb(37, 37, 37);
    font-family: 'Kufam', sans-serif;
    font-size: 1.1rem;
    color: #F2690D;
}
.nav ul li a:hover{
    box-shadow: 0px .5px 25px #f2690d74;
    
}
.nav img{
    width: 65px;
    margin: 5px 32px;
    padding: 5px;
}

/* ---------------------section-1 Home----------- */

.section-1::before{
    content: "";
    background: url(bg.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -85px;
    left: 0px;
    z-index: -1;
    opacity: .5;
}

.section-1{
    display: flex;
    flex-direction: column;
    height: 72vh;
    width: 95vw;
    justify-content: center;
    font-family: 'Kufam', cursive;
    color: white; 
    align-items: center;
    margin: 5px 5px;
    padding: 5px 5px;
    flex-wrap: wrap;
}

.section-1 h1{
    font-size: 3rem;
    margin-bottom: 8px;
    text-decoration: underline;
    letter-spacing: 2px;
}
.section-1 p{
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.section-1 button {
    background-color: rgb(33, 33, 33);
    border: 2px solid #F2690D;
    padding: 8px 35px;
    border-radius: 25px;
    margin-top: 15px;
}
.section-1 button a{
    /* font-size: 1.2rem; */
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #F2690D;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 0px .5px 25px #f2690d74;
}


/* --------------------------sec-2---------------------- */

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    margin: 12px 5px;
    font-family: 'Kufam', cursive;
    color: white;
    background-color: rgb(26, 25, 25);
}

.section-2 h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-decoration: underline;
    letter-spacing: 2px;

}
.cont-2{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cont-2 .cards{
    height: 200px;
    width: 350px;
    margin: 22px;
    border: 2px solid #F2690D;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 16);
}

.cards p{
    margin-top: 8px;
}
.cont-2 a{
    text-decoration: underline;
    font-size: .9rem;
    color: papayawhip;
}
.cont-2 a:hover{
    
    transform: scale(1.07);
  
}

footer{
    color: orange;
    text-align: center;
    font-family: 'Kufam', cursive;
    letter-spacing: 2px;
    background-color: rgb(80, 79, 79);
    /* height: 85px; */
}

/* ------------footer----------------- */
footer p{
    margin: 5px;
    padding: 5px;
}

/* --------------media quary-------------------------- */

@media only screen and (max-width: 1200px){
    .cont-2{
        flex-direction: column;
    }
}

@media only screen and (max-width: 960px){
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav::before{
        height: 111%;
    }
    .nav ul li a{
        font-size: 1rem;
        margin: 5px 15px;
    }
    .section-1 h1{
        font-size: 2rem;
    }
    .section-1 p{
        font-size: .8rem;
    }
    .section-2 h3{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 675px){


    .nav ul li a{
        font-size: .8rem;
        margin: 5px 9px;
    }
    .section-1 h1{
        font-size: 1.5rem;
    }
    .section-1 p{
    text-align: center;
        font-size: .7rem;
    }
    .section-2 h3{
        font-size: 1.1rem;
    }
    .section-1 button {
        font-size: .6rem;
    }
    footer{
        font-size: .8rem;
    }

}

@media only screen and (max-width: 545px){


    .nav ul li a{
        font-size: .8rem;
        margin: 5px 9px;
        padding: 4px 25px;
    }
    .section-1 h1{
        font-size: 1.5rem;
    }
    .section-1 p{
        text-align: center;
        font-size: .5rem;
    }
    .section-2 h3{
        font-size: 1.1rem;
    }
    .section-1 button {
        font-size: .5rem;
    }
    footer{
        font-size: .8rem;
    }

}

@media only screen and (max-width: 461px){


    .nav ul li a{
        font-size: .7rem;
        margin: 5px 6px;
        padding: 4px 21px;
    }
    .section-1 h1{
        font-size: 1.5rem;
    }
    .section-1 p{
        text-align: center;
        font-size: .6rem;
    }
    .section-2 h3{
        font-size: 1rem;
    }
    .section-1 button {
        font-size: .4rem;
    }

    .cont-2 .cards{
        margin: 12px;
        width: 311px;

    }
    footer{
        font-size: .6rem;
    }

}

@media only screen and (max-width: 391px){


    .nav ul li a{
        font-size: .6rem;
        margin: 5px 5px;
        padding: 4px 9px;
    }
    .section-1 h1{
        font-size: 1.3rem;
        text-align: center;
    }
    .section-1 p{
        text-align: center;
        font-size: .6rem;
    }
    .section-2 h3{
        font-size: 1rem;
        text-align: center;
    }
    .section-1 button {
        font-size: .4rem;
    }

    .cont-2 .cards{
        margin: 12px;
        width: 239px;
        height: 159px;


    }
    .section-1::before{
        content: "";
        background: url(bg.jpg) no-repeat center center/cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -85px;
        left: 0px;
        z-index: -1;
        opacity: .5;
    }
    .cards img{
        width: 219px;
        height: 119px;
    }
    footer{
        font-size: .5rem;
    }

}

